.git
.gitignore
.github
.gitlab-ci.yml
.specify
target/
node_modules/
dist/
build/
.env
.DS_Store
*.log
*.md
.vscode
.idea
*.iml
.classpath
.project
.settings/
.m2/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.gradle
.pytest_cache
__pycache__
*.pyc
.coverage
.sonarhome
.vscode-extensions
.docker
